body {
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)


}

.mobile {
    width: 375px;
    height: 812px;
    border-radius: 30px;
    position: relative;
   


}


.cardGluten {
    position: absolute;
    width: 300px;
    height: 460px;
    top: 50px;
    left: 40px;

}


.blurry {
    position: absolute;
    top: 490px;
    left: 80px;
    width: 200px;
    height: 200px;

}







.dontKnow {
    
    background-repeat:no-repeat;
    position: absolute;
    width: 375px;
    height: 375px;
    right: 0px;
    bottom: -160px;
}




.gotIt {
    
    background-repeat:no-repeat;
    position: absolute;
    width: 375px;
    height: 375px;
    left: 253px;
    bottom: -160px;
}




.bottom{
    position: absolute;
    width: 375px;
    height: 100px;
    bottom: 0px;
    
    display: flex;
    width: 375px;
    height: 97px;
    background-color: #2a4e8b;
  }



  .btnD{
      height: 60px;
      cursor: pointer;
      width:60px;
      background: url(../images/icon_Dictionary.png);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      color:white;
      background-color: transparent;
      display:block;
      margin:auto;
   
    
      
    }

    .btnS{
        height: 60px;
        width:60px;
        background: url(../images/Icon_Study.png);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        color:white;
        background-color: transparent;
        display:block;
        margin:auto;

        
      }

      .btnR{
        height: 60px;
        width:60px;
        background: url(../images/Icon_Repository.png);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        color:white;
        background-color: transparent;
        display:block;
        margin:auto;
       
   
      }
      .btnSe{
        height: 60px;
        width:60px;
        background: url(../images/Icon_Setting.png);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        color:white;
        background-color: transparent;
        display:block;
        margin:auto;
        
      }
  
 
  
 

  p{
      margin-left:0px;
      margin-top:0;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 12px;
      text-align: center;
      color: white;
  }

  .btnContainer{
      margin-left:11px;
      display:block;
      width:80px;

  }

